/*  
    Name: Bryan Montalvan (bryan_montalvanarevalo@student.uml.edu)
    Date: 9/11/2022 
    GUI Assignment: Creating your First Web Page
    
    File: style.css
    Description: This file contains the styling for index.html
*/

/* Generic HTML Tags */
body {
    margin: 0;
    background-image: url('bg-haikei.svg');
    background-size: cover;
}

img {
    width: 250px;
    height: 150px;
    object-fit: cover;
}

h1 {
    color: white;
}

/* Custom Classes */
.container {
    text-align: center;
}

.card-rows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    /* Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    width: 35vw;
    background-color: #297EA6;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));

    /* on-hover animation */
    transition: all .2s ease-in-out;
}

/* Card sub-elements */

.card:hover {
    transform: scale(1.1);
}

.card h2 {
    font-size: 20px;
}

.card table {
    width: 50vw;
    height: 100px;
}

.card a {
    position: absolute;
    right: 5px;
    bottom: 5px;
    text-decoration: none;


    border: none;
    font-size: 20px;
    background-color: #00101C;
    color: white;
}

.card a:hover {
    text-decoration: none;

    cursor: pointer;
    background-color: white;
    color: black;
}





/* Responsiveness for medium-sized devices */
@media only screen and (max-width: 1700px) {
    img {
        width: 100%;
    }

    .card {
        flex-direction: column;
        width: 50vw;
        gap: 10px;

    }

    .card a {
        position: inherit;
        margin-bottom: 30px;
        width: 50%;
    }
}

/* Responsiveness for mobile devices */
@media only screen and (max-width: 980px) {
    .card {
        width: 80vw;
    }

    .card table {
        width: 100%;
    }
}